
<button 
    #addButton
    (click)="addToCart()"
    [disabled]="(isLoading$ | async) || isOutOfStock"
    [class]="buttonClasses"
>
    <span *ngIf="(isLoading$ | async) === false && !isOutOfStock" 
          class="flex items-center space-x-2">
        <lucide-angular 
            name="shopping-cart" 
            class="w-6 h-6"
            [img]="ShoppingCartIcon">
        </lucide-angular>
    <span>{{ buttonText }}</span>
    </span>
    
    <span *ngIf="isLoading$ | async" class="flex items-center space-x-2">
    <svg class="animate-spin w-5 h-5" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
    </svg>
    <span> {{ 'cart.adding' | translate }}</span>
    </span>

    <span *ngIf="isOutOfStock" class="flex items-center space-x-2">
    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-2.5L13.732 4c-.77-.833-1.964-.833-2.732 0L3.732 16.5c-.77.833.192 2.5 1.732 2.5z"/>
    </svg>
    <span>{{ 'productDetails.outOfStock' | translate }}</span>
    </span>
</button>
