:host {
    display: block;
}

.rotate-180 { 
    transform: rotate(180deg); 
}

.rotate-0 { 
    transform: rotate(0deg); 
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}