<div class="flex justify-center items-center w-full h-dvh bg-main-bg" *ngIf="loading$ | async; else resetForm">
    <app-loader class="h-24 w-dvw"></app-loader>
</div>
<ng-template #resetForm>
    <div class="flex h-screen bg-main-bg font-sans">
        <!-- Reset Password form -->
        <div class="w-2/5 bg-main-bg flex items-center justify-center p-2 flex-col">
            <div class="flex flex-col w-3/5 justify-start">
                <h2 class="text-3xl font-bold mb-6 text-black text-opacity-80">{{ isNewUser ? 'Set password' : 'Reset
                    password' }}</h2>
                <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
                    <div class="mb-6">
                        <label class="block text-sm mb-2" for="password">
                            New Password
                        </label>
                        <input
                            class="shadow-sm appearance-none border rounded w-full h-12 py-2 px-3 text-gray-700 text-sm leading-tight focus:outline-none focus:shadow-outline"
                            id="password" type="password" formControlName="password">
                        <div class="text-red-500 text-sm h-5">
                            <small *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                                <span *ngIf="password?.errors?.['required']">Password is required.</span>
                                <span *ngIf="password?.errors?.['minlength']">Password must be at least 8
                                    characters.</span>
                            </small>
                        </div>
                    </div>
                    <div class="mb-6">
                        <label class="block text-sm mb-2" for="confirmPassword">
                            Confirm Password
                        </label>
                        <input
                            class="shadow-sm appearance-none border rounded w-full h-12 py-2 px-3 text-gray-700 text-sm leading-tight focus:outline-none focus:shadow-outline"
                            id="confirmPassword" type="password" formControlName="confirmPassword">
                        <div class="text-red-500 text-sm h-5">
                            <small
                                *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)">
                                <span *ngIf="confirmPassword?.errors?.['required']">Confirm password is required.</span>
                            </small>
                            <small
                                *ngIf="resetPasswordForm.errors?.['mismatch'] && (confirmPassword?.dirty || confirmPassword?.touched)">
                                Passwords do not match.
                            </small>
                        </div>
                    </div>
                    <div class="flex items-center justify-between">
                        <button
                            class="btn btn-l font-medium text-white py-2 px-4 rounded w-full focus:outline-none focus:shadow-outline"
                            [ngClass]="{ 
                                'bg-second-fg hover:bg-selection': !resetPasswordForm.invalid,
                                'bg-gray-300 cursor-not-allowed text-gray-500': resetPasswordForm.invalid
                            }" [disabled]="resetPasswordForm.invalid">
                            Confirm
                        </button>
                    </div>
                    <div *ngIf="passwordResetSuccessMessage$ | async as message" class="mt-6 text-green-500">{{
                        message }}</div>
                </form>

            </div>
        </div>
        <!-- Image -->
        <div class=" bg-selection w-3/5 flex items-center justify-center">
            <img class="h-1/2" src="./assets/confirmation.svg" alt="login image">
        </div>
    </div>
</ng-template>